.dropdown {
  //   display: flex;
  //   justify-content: space-between;
  width: 100%;
  position: relative;
  //   user-select: none;

  .dropdown-btn {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
    background-color: transparent;
    color: #101828;
    font-weight: 400;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    cursor: pointer;
    padding-bottom: 0.5rem;
    border: 1px solid #d0d5dd;
    border-radius: 8px;
  }
  .dropdown-content {
    position: absolute;
    top: 120%;
    width: 116.3%;
    border-radius: 8px;
    z-index: 1000;
    // padding: 10px;
    // left: 4%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    font-weight: 400;
    color: #101828;

    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;

    @keyframes growDown {
      0% {
        transform: scaleY(0);
      }
      80% {
        transform: scaleY(1.1);
      }
      100% {
        transform: scaleY(1);
      }
    }

    .dropdown-item {
      padding: 10px;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background: #f5f5f5;
        border-radius: 8px;
      }
    }
  }
}
