.whole-container {
  width: 100%;
  // border-bottom: 1px solid #9e9e9e;
  padding-bottom: 1rem;
}

.chart {
  width: 100%;
}

.lineChart-container {
  background-color: white;
  border-radius: 8px;
  width: 88%;
  height: auto;
  margin: auto;
  margin-top: 2rem;

  .Add-country {
    height: 4rem;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
    background-color: #f5f5f5;

    .country {
      border-right: 1px solid #9e9e9e;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #9e9e9e;
      display: flex;
      height: 3rem;
      width: 100%;

      .title {
        font-size: 20px;
        font-weight: 600;
        line-height: 48px;

        @media (max-width: 998px) {
          font-size: 13px;
        }
      }
      .circle {
        width: 14.67px;
        margin-right: 0.5rem;
        background-color: #f05728;
        height: 14.67px;
        border-radius: 50px;

        @media (max-width: 998px) {
          width: 8px;
          height: 8px;
        }
      }
    }

    .country-add {
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #212121;
      display: flex;
      height: 3rem;
      width: 100%;
      background: none;
      border: none;
      cursor: pointer;

      .title {
        font-size: 20px;
        font-weight: 600;
        line-height: 48px;

        @media (max-width: 998px) {
          font-size: 13px;
        }
      }
      .faplus {
        margin-right: 0.5rem;
      }
    }
    .select-country {
      font-size: 20px;
      font-weight: 600;
      line-height: 48px;
      color: #9e9e9e;
      text-align: center;
      width: 100%;
    }
  }

  .heading-content {
    align-items: center;
    width: 98%;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
    display: flex;
    justify-content: space-between;

    .icon {
      cursor: pointer;
    }

    .heading {
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.75rem;
      color: #f05728;

      @media (max-width: 998px) {
        font-size: 1.5rem;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 1rem;

    @media (max-width: 998px) {
      width: 98%;
    }

    .right-button {
      display: flex;
      width: 40%;
      margin-right: 0.5rem;
      gap: 10px;

      @media (max-width: 998px) {
        width: 44%;
        height: 4rem;
      }
      @media (max-width: 1280px) {
        width: 45%;
        height: 3.2rem;
      }
    }

    .left-button {
      display: flex;
      width: 35%;
      gap: 45px;

      @media (max-width: 998px) {
        width: 44%;
        height: 4rem;
        gap: 30px;
      }

      .select-country-btn {
        width: 100%;
      }
      .select-date-btn {
        width: 100%;
      }
    }

    .left-ouline-button {
      display: flex;
      align-items: center;
      width: 100%;
      background-color: transparent;
      color: #101828;
      justify-content: space-between;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      cursor: pointer;
      padding-bottom: 0.5rem;
      border: 1px solid #d0d5dd;
      border-radius: 8px;
    }

    .left-ouline-buttonTwo {
      display: flex;
      align-items: center;
      background-color: transparent;
      color: #101828;
      width: 100%;
      font-weight: 400;
      line-height: 24px;
      cursor: pointer;
      justify-content: space-between;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border: 1px solid #d0d5dd;
      border-radius: 8px;
    }

    .right-ouline-button {
      display: flex;
      align-items: center;
      width: 100%;
      color: white;
      font-weight: 600;
      justify-content: space-between;
      padding-left: 1rem;
      background-color: #f05728;
      padding-right: 1rem;
      padding-top: 0.5rem;
      font-size: 20px;
      cursor: pointer;
      line-height: 28px;
      padding-bottom: 0.5rem;
      border: 1px solid #f05728;
      border-radius: 8px;

      @media (max-width: 998px) {
        font-size: 12px;
      }
    }
    .right-ouline-buttonTwo {
      display: flex;
      align-items: center;
      color: #f05728;
      background-color: transparent;
      width: 100%;
      font-weight: 600;
      font-size: 20px;
      cursor: pointer;
      line-height: 28px;
      justify-content: space-between;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border: 1px solid #f05728;
      border-radius: 8px;
      @media (max-width: 998px) {
        font-size: 12px;
      }
    }
  }
}
