.left-container {
  background-color: white;
  border-radius: 8px;
  height: auto;
  width: 60%;

  .positive {
    @media (max-width: 998px) {
      font-weight: 500;
      font-size: 10px;
      line-height: 20px;
    }
  }

  .search-container {
    width: auto;
    border-bottom: 1px solid #f5f5f5;
    position: relative;

    .seacrh-bar {
      width: 90%;
      border: none;
      padding: 1rem;
      outline: none;
    }
    input,
    input::placeholder {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  .search-icon {
    position: absolute;
    cursor: pointer;
    top: 1rem;
    opacity: 35%;
    left: 46.5rem;

    .search-icon-image {
      width: 20px;
      height: 20px;

      @media (max-width: 998px) {
        width: 12px;
        height: 12px;
      }
    }

    .close-icon-image {
      width: 20px;
      height: 20px;

      @media (max-width: 998px) {
        width: 12px;
        height: 12px;
      }
    }

    @media (max-width: 998px) {
      left: 44.5em;
      top: 1.3rem;
    }
  }

  .radio-button {
    align-items: center;
    display: flex;
    border-bottom: 1px solid #f5f5f5;
    padding: 1rem;
    //   padding-top: 0%;

    .container {
      display: block;
      position: relative;
      align-items: center;

      .positive {
        padding-left: 25px;
        margin: 0%;
        padding-top: 0.1rem;
        font-weight: 500;
      }

      cursor: pointer;
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default radio button */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      font-weight: 500;
      line-height: 20px;
      background-color: #ffffff;
      border-radius: 50%;
      border: 1px solid #f05728;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
      background-color: #ffffff;
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: #ffffff;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
      top: 5px;
      left: 5px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #f05728;
    }
  }
  .second-container {
    margin-left: 1rem;
  }
  .main-heading {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f5f5f5;
    margin: 0%;
  }

  .heading {
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: max-content;
    padding: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: #9e9e9e;
    background-color: white;
    margin: 0%;
    border-radius: 8px 8px 0px 0px;
    cursor: pointer;

    @media (max-width: 998px) {
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
    }
  }

  .colored-heading {
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: #f05728;
    width: max-content;
    padding: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: white;
    margin: 0%;
    border-radius: 8px 8px 0px 0px;
    cursor: pointer;

    @media (max-width: 998px) {
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
    }
  }

  .second-heading {
    font-weight: 500;
    font-size: 16px;
    border: none;
    line-height: 24px;
    background-color: white;
    width: max-content;
    padding: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: #9e9e9e;
    margin: 0%;
    cursor: pointer;
    border-radius: 8px 8px 0px 0px;

    @media (max-width: 998px) {
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
    }
  }

  .second-colored-heading {
    font-weight: 500;
    font-size: 16px;
    border: none;
    line-height: 24px;
    background-color: #f05728;
    width: max-content;
    padding: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: white;
    margin: 0%;
    cursor: pointer;
    border-radius: 8px 8px 0px 0px;

    @media (max-width: 998px) {
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
    }
  }

  .left-content-wrapper {
    background-color: white;
    height: 27.1rem;
    width: auto;
    padding: 0.5rem;
    overflow: auto;
    border-radius: 8px;
    margin: 0.5rem;

    .left-content-wrappe::-webkit-scrollbar {
      width: 10px;
    }

    .left-content {
      border-bottom: 1px solid #eeeeee;
      height: auto;
      // padding: 1rem;
      padding-top: 1rem;
      overflow: hidden;

      .left-content-heading {
        margin: 0%;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.25rem;
        color: #000000;
        width: 95%;

        .heading-colored {
          color: #f05728;
        }
      }
      .hashtags {
        margin: 0%;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.25rem;
        color: #000000;
        width: 70%;

        .hashtags-colored {
          color: #f05728;
          margin-left: 0.3rem;
        }
      }
      .link {
        margin: 0%;
        padding-top: 0.5rem;
        color: #1da1f2;
        line-height: 40px;
        cursor: pointer;
        text-decoration: none;
      }
      .username {
        font-weight: 500;
        font-size: 0.875rem;
        color: #000000;
        cursor: pointer;
      }
    }

    .twitter-details {
      display: flex;
      align-items: center;

      .twitter-logo {
        margin-right: 0.5rem;
        cursor: pointer;

        @media (max-width: 998px) {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
