.bar-container-svg {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  justify-content: flex-end;
  // flex-direction: row;

  width: 100%;
  gap: 10px;
  .country-name {
    width: 15%;
    color: #a3a3a3;
    font-weight: 400;
    font-size: 10px;
    text-align: right;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
  .colored-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
}
