.wrapper {
  width: 50%;
  max-height: 40rem;
  background-color: white;
  border-radius: 10px;
  overflow: auto;
  margin-top: 1.5rem;

  // .filter {
  //   position: relative;

  //   .filter-dropdown-content {
  //     position: absolute;
  //     top: 120%;
  //     left: -290%;
  //     width: max-content;
  //     border-radius: 8px;
  //     z-index: 1000;
  //     // padding: 10px;
  //     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  //     background-color: white;
  //     font-weight: 400;
  //     color: #101828;
  //     display: flex;
  //     flex-direction: column;
  //     cursor: pointer;

  //     animation: growDown 300ms ease-in-out forwards;
  //     transform-origin: top center;

  //     @keyframes growDown {
  //       0% {
  //         transform: scaleY(0);
  //       }
  //       80% {
  //         transform: scaleY(1.1);
  //       }
  //       100% {
  //         transform: scaleY(1);
  //       }
  //     }

  //     .filter-dropdown-item {
  //       font-weight: 400;
  //       font-size: 14px;
  //       color: #616161;
  //       padding: 10px;
  //       display: flex;
  //       cursor: pointer;
  //       gap: 10px;
  //       align-items: center;
  //       justify-content: space-between;

  //       &:hover {
  //         background: #f5f5f5;
  //         border-radius: 8px;
  //       }

  //       .sort-down {
  //         width: 16px;
  //         height: 16px;
  //       }
  //     }
  //   }
  // }

  // .sort-icon {
  //   cursor: pointer;

  //   @media (max-width: 998px) {
  //     width: 25px;
  //     height: 25px;
  //   }
  // }

  // .sort-icon-open {
  //   box-shadow: 0px 0px 10px #f05728;
  //   border-radius: 4px;
  //   cursor: pointer;
  // }
  .content {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
  }

  .heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #f05728;

    @media (max-width: 998px) {
      font-weight: 700;
      font-size: 12px;
      line-height: 28px;
    }
  }

  .bar-chart-wrapper {
    background-color: white;
    width: 100%;
    max-height: 30rem;
    // margin-bottom: 60rem;
    border-radius: 8px;
    overflow: auto;
  }
  .chart-content {
    display: flex;
    align-items: center;
    // padding: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.8rem;

    @media (max-width: 998px) {
      padding-left: 1rem;
      padding-bottom: 0.5rem;
    }

    .country {
      // border-left: 1px solid #212121;
      font-weight: 500;
      font-size: 12px;
      width: 13%;
      text-align: right;
      line-height: 18px;
      color: #212121;

      @media (max-width: 998px) {
        font-weight: 500;
        font-size: 8px;
        width: 15%;
        font-weight: 500;
        color: #212121;
      }
    }

    .bar {
      width: 75%;
      background-color: #f15827;
      height: 2.5rem;
      opacity: 50%;
      margin-left: 0.5rem;
      padding-right: 2rem;
      border-radius: 4px;

      @media (max-width: 998px) {
        height: 1.5rem;
        border-radius: 0px 4px 4px 0px;
        width: 75%;
      }
    }
  }
  .chart-bar {
    overflow-x: hidden;
    height: 30rem;

    &.chart-bar::-webkit-scrollbar {
      width: 0px;
    }

    @media (max-width: 998px) {
      height: 29rem;
    }
  }
}
