.header-container {
  width: 100%;
  height: 4.5rem;
  background-color: white;
  // font-family: "Nexa";

  .main-content {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
  }

  .logo {
    width: auto;
    height: auto;
    margin-left: 1rem;
    margin-top: 0.3rem;

    .logo-image {
      width: 100%;
      height: 2.019rem;
    }
  }

  .links {
    width: 40%;

    height: auto;

    @media (max-width: 998px) {
      width: 50%;
    }

    .links-data {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      list-style: none;
      align-items: center;
      font-size: 0.75rem;
      font-weight: 600;
      line-height: 0.75rem;
      cursor: pointer;
      color: #58595b;

      @media (max-width: 998px) {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 0.75rem;
      }

      @media (max-width: 768px) {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 0.75rem;
      }

      .icon-button {
        display: flex;
        align-items: center;

        & .icon {
          margin-top: -0.3rem;
          margin-left: 0.5rem;
        }
      }

      & button {
        color: #f15827;
        border: 1px solid #f15827;
        border-radius: 2.5rem;
        padding: 0.4rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-weight: 600;
        background-color: transparent;
        max-width: max-content;
        cursor: pointer;

        &:hover {
          background-color: #f15827;
          color: white;
        }
        @media (max-width: 998px) {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 0.75rem;

          &:hover {
            background-color: #f15827;
            color: white;
          }
        }
        @media (max-width: 768px) {
          font-size: 1.4rem;
          font-weight: 600;
          line-height: 0.75rem;

          &:hover {
            background-color: #f15827;
            color: white;
          }
        }
      }
    }
  }
}
