.whole-wrapper {
  width: 88%;
  margin: auto;
}

.big-wrapper {
  display: flex;
  gap: 1rem;
  height: auto;
  margin-top: 1.5rem;
  justify-content: space-between;

  .left-content-wrapper {
    background-color: white;
    max-height: 24.1rem;
    width: 96%;
    overflow: auto;
    border-radius: 8px;
    margin: auto;

    .left-content-wrappe::-webkit-scrollbar {
      width: 10px;
    }

    .left-content {
      border-bottom: 1px solid #eeeeee;
      height: auto;
      // padding: 1rem;
      padding-top: 1rem;
      overflow: hidden;

      .left-content-heading {
        margin: 0%;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.25rem;
        color: #000000;
        width: 95%;

        .heading-colored {
          color: #f05728;
        }
      }
      .hashtags {
        margin: 0%;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.25rem;
        color: #000000;
        width: 70%;

        .hashtags-colored {
          color: #f05728;
          margin-left: 0.3rem;
        }
      }
      .link {
        margin: 0%;
        padding-top: 0.5rem;
        color: #1da1f2;
      }
      .username {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #000000;
      }
    }

    .twitter-details {
      display: flex;
      align-items: center;

      .twitter-logo {
        margin-right: 0.5rem;
      }
    }
  }

  .right-container {
    background-color: white;
    border-radius: 8px;
    height: 75vh;
    padding: 1rem;
    width: 40%;

    .heading-content {
      background-color: #f5f5f5;
      display: flex;
      justify-content: space-between;
      padding-left: 1rem;
      padding-right: 1rem;
      align-items: center;
      width: 91.5%;
      border-radius: 4px;

      .right-heading {
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: #212121;
      }
      .score {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.75rem;
        color: #212121;
      }
    }

    .icons {
      width: max-content;
      display: flex;
      align-items: center;
      .dropdown {
        margin-left: 0.8rem;
      }
    }

    .right-content-wrapper {
      max-height: 65.5vh;
      margin-top: 1rem;
      background-color: white;
      padding: 1rem;
      padding-top: 0%;
      padding-bottom: 0%;
      overflow: auto;

      .right-content {
        border-bottom: 1px solid #f5f5f5;
        overflow: hidden;
        align-items: center;
        display: flex;
        justify-content: space-between;

        .left-content {
          font-size: 0.875rem;
          line-height: 1.25rem;
          font-weight: 400;
          display: flex;
          align-items: center;
          color: #616161;

          .username {
            margin-left: 2rem;
          }

          .value {
            width: 100%;
            margin-left: 11rem;
            color: #f05728;
            font-weight: 500;
            font-size: 0.875rem;
            line-height: 1.25rem;
          }
        }
      }
    }
  }
}
