.right-container {
  background-color: white;
  border-radius: 8px;
  height: auto;
  padding: 1rem;
  width: 40%;

  @media (max-width: 998px) {
    background-color: white;
    border-radius: 8px;
    height: auto;
    padding: 1rem;
    width: 40%;
  }

  .heading-content {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    width: auto;
    border-radius: 4px;

    .right-heading {
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.75rem;
      color: #f05728;
    }
    .score {
      font-weight: 500;
      font-size: 0.875rem;
      margin-right: 1rem;
      line-height: 1.75rem;
      color: #212121;
    }
  }

  .icons {
    width: max-content;
    display: flex;
    align-items: center;

    .dropdown {
      cursor: pointer;
      margin-left: 0.8rem;
      width: 30px;
      height: 30px;

      @media (max-width: 998px) {
        width: 25px;
        height: 25px;
      }
    }
  }

  .right-content-wrapper {
    height: 31rem;
    margin-top: 1rem;
    background-color: white;
    padding: 1rem;
    padding-top: 0%;
    padding-bottom: 0%;
    overflow: auto;
    width: auto;

    @media (max-width: 998px) {
      background-color: white;
      border-radius: 8px;
      height: 24.5vh;
      padding: 1rem;
      width: auto;
    }

    .right-content {
      border-bottom: 1px solid #f5f5f5;
      overflow: hidden;
      align-items: center;
      display: flex;
      justify-content: space-between;

      .left-content {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 400;
        display: flex;
        width: 100%;
        align-items: center;
        color: #616161;

        .id {
          width: 6%;
        }

        .username {
          margin-left: 2rem;
          width: 20%;
        }

        .value {
          width: 100%;
          margin-left: 14rem;
          color: #f05728;
          font-weight: 500;
          width: 40%;
          font-size: 0.875rem;
          line-height: 1.25rem;

          @media (max-width: 998px) {
            margin-left: 12.5rem;
          }
        }
      }
    }
  }
}
