body {
  margin: 0;
  font-family: "Work-Sans";
  background: #f5f5f5;

  &::-webkit-scrollbar {
    width: 0;
  }

  // & ::-webkit-scrollbar {
  //   width: 0;
  //   height: 0;
  // }
}

@font-face {
  font-family: "Work-Sans";
  src: url("./Fonts/work-sans.regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Work-Sans";
  src: url("./Fonts/work-sans.bold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Work-Sans";
  src: url("./Fonts/work-sans.medium.ttf");
  font-style: normal;
}

@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}

// ::-webkit-scrollbar {
//   width: 0;
//   height: 0;
// }
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}
